* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #87CEEB, #D8BFD8);
}





.nav, .nav-link a{
    font-family: "Roboto", sans-serif;
}

.nav-text, .nav-link{
    color: #f5f5f5 !important;
}

.bg-img{
    background: transparent;
}

h1{
    color: gray;
    font-family: "Quicksand", serif;
}

strong{
    color: #f5f5f5;
}

.hero-title{
    letter-spacing: 5px;
    height: 117px;
    width: 637px;
}

.hero-p{
    height: 80px;
    width: 583px;
}

p{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 22px;
    letter-spacing: 4.5px;
}