* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( 135deg, #87CEEB, #D8BFD8);
    min-height: 100vh;
}





.nav, .nav-item, .nav-link a{
    font-family: "Roboto", sans-serif;
}

.nav-text, .nav-link{
    color: #f5f5f5 !important;
}

.bg-img{
    background: transparent;
}

h1{
    color: black;
    font-family: "Quicksand", serif;
}

strong{
    color: #f5f5f5;
}

.hero-title{
    letter-spacing: 5px;
    height: 117px;
    width: 500px;
}

.hero-p{
    height: 80px;
    width: 400px;
}

p{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 22px;
    letter-spacing: 4.5px;
}

.bg-body-tertiary {
    background: linear-gradient(135deg, #87CEEB,#D8BFD8);
    color: white; /* Ensure text is readable */
}


.text-body-emphasis{
    font-family: "Quicksand", serif;
}

.card{
    justify-content: center;
}

.skill-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
